@use 'variables';

body {
    margin: 0;
    background-color: variables.$bg;
    color: var(--text) ;
    &:hover {
        background-color: rgb(234, 33, 33);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
}