.hero {
    background: url('../images/Mounted_Mongol_warrior_recreation.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

#warrior {
    width: 20%;
}